.card {
    background-color: rgb(189, 189, 189);
    display: flex;
    margin: 20px;
    align-items: center;
}
.information {

}
.photo {
    padding: 10px;
    border-radius: 50%;
}

.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    align-items: center;
}